.left-contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	word-break: break-all;
	width: 80%;
	margin-bottom: 32px;
	padding-left: 200px;
}

.left-contact-container .contact-title {
	font-size: 40px;
	color: #d5bdaf;
	text-shadow: 4px 3px 0px #7a7a7a, 2px 2px 2px rgba(0, 0, 0, 0);
	padding-bottom: 10px;
}

.left-contact-container hr {
	width: 50%;
	border: solid 1px #7f5943;
}

.left-contact-container .nom,
.left-contact-container .telephone,
.left-contact-container .email {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
	height: 60px;
	width: 75%;
	color: #7f5943;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
	background-color: #cfbeb4;
	border-radius: 15px;
	border: solid 1px #7f5943;
	font-size: 24px;
}

.left-contact-container .nom .info,
.left-contact-container .telephone .info,
.left-contact-container .email .info {
	padding-left: 10px;
}

@media screen and (max-width: 1500px) {
	.left-contact-container .nom,
	.left-contact-container .telephone,
	.left-contact-container .email {
		height: 80px;
		width: 95%;
	}
}

@media screen and (max-width: 1200px) {
	.left-contact-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: #d6ccc2;
		padding-left: 0;
	}
	.left-contact-container hr {
		width: 75%;
	}
}

@media screen and (max-width: 700px) {
	.left-contact-container .nom,
	.left-contact-container .telephone,
	.left-contact-container .email {
		width: 180%;
	}
}
