.project-list-container {
	height: 100%;
	background-color: #d6ccc2;
}

.project-list {
	padding-top: 75px;
	background-color: #d6ccc2;
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 1500px) {
	.project-list-container {
		height: 1900px;
		background-color: #d6ccc2;
	}
	.project-list {
		flex-direction: column;
		align-items: center;
	}
}
