.project-container {
	display: flex;
	flex-direction: column;
	background-color: #cfbeb4;
	height: 800px;
	width: 700px;
	margin: 0 50px 50px 50px;
	border: solid 3px #7f5943;
	word-wrap: break-word;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-animation: shadow-pop-tr2 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) reverse both;
	animation: shadow-pop-tr2 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) reverse both;
}

.project-container:hover {
	/*-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 26px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 26px rgba(0, 0, 0, 0.2);*/
	-webkit-animation: shadow-pop-tr 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
	animation: shadow-pop-tr 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.project-container img {
	height: 100%;
	width: 100%;
}

.project-container hr {
	border: solid 2px #7f5943;
}
.title {
	padding-top: 10px;
	text-align: center;
	color: #7f5943;
}

.description {
	padding-top: 10px;
	text-align: center;
	color: #a37256;
}

.stack-container {
	padding: 25px 0 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.stack-container .stack {
	padding: 10px 5px 10px 5px;
	border-radius: 50px;
	background-color: burlywood;
	font-size: 18px;
	color: #af8166;
}

.codesource-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.codesource-link {
	margin: 15px 0;
	font-size: 18px;
	text-decoration: none;
	color: #af8166;
	padding: 10px 5px 10px 5px;
	border-radius: 50px;
	background-color: burlywood;
}

.codesource-link:visited {
	color: #af8166;
}

.codesource-link:hover {
	color: #7f5943;
}

@media screen and (max-width: 1500px) {
	.project-container {
		margin-top: 25px;
		width: 50%;
		margin-bottom: 50px;
	}
	.project-container img {
		height: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.project-container {
		margin-top: 25px;
		width: 70%;
		margin-bottom: 50px;
		height: auto;
	}
	.stack-container {
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		width: 50%;
	}
	.stack-container .stack {
		margin-top: 10px;
	}
}

@media screen and (max-width: 900px) {
	.project-container img {
		height: 100%;
		width: 100%;
	}
}

@-webkit-keyframes shadow-pop-tr2 {
	0% {
		-webkit-box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		-webkit-transform: translateX(-8px) translateY(8px);
		transform: translateX(-8px) translateY(8px);
	}
}
@keyframes shadow-pop-tr2 {
	0% {
		-webkit-box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		-webkit-transform: translateX(-8px) translateY(8px);
		transform: translateX(-8px) translateY(8px);
	}
}

@-webkit-keyframes shadow-pop-tr {
	0% {
		-webkit-box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		-webkit-transform: translateX(-8px) translateY(8px);
		transform: translateX(-8px) translateY(8px);
	}
}
@keyframes shadow-pop-tr {
	0% {
		-webkit-box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		box-shadow: 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943, 0 0 #7f5943,
			0 0 #7f5943, 0 0 #7f5943;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		box-shadow: 1px -1px #7f5943, 2px -2px #7f5943, 3px -3px #7f5943, 4px -4px #7f5943,
			5px -5px #7f5943, 6px -6px #7f5943, 7px -7px #7f5943, 8px -8px #7f5943;
		-webkit-transform: translateX(-8px) translateY(8px);
		transform: translateX(-8px) translateY(8px);
	}
}
