.animation-container {
	display: flex;
	justify-content: center;
	padding-top: 15%;
	padding-bottom: 355px;
}
.container {
	color: #b89078;
	display: inline-block;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.typed-out {
	color: #a37256;
	margin: 0 auto;
	justify-content: center;
	overflow: hidden;
	border-right: 0.15em solid #b89078;
	white-space: nowrap;
	animation: typing 3s forwards;
	font-size: 45px;
	width: 0;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 410px;
	}
}

@media screen and (max-width: 1330px) {
	.animation-container {
		padding-top: 25%;
	}
}

@media screen and (max-width: 885px) {
	.animation-container {
		padding-top: 32%;
	}
	.container {
		text-align: center;
	}
}

@media screen and (max-width: 650px) {
	.animation-container {
		padding-top: 60%;
		padding-bottom: 10%;
	}
	.container .title-animation {
		font-size: 36px;
	}
	.typed-out {
		font-size: 32px;
	}

	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 300px;
		}
	}
}
